[defaults]
roles_path = ./ansible/roles:./roles:/etc/ansible/roles:/usr/share/ansible/roles
inventory = localhost
host_key_checking = False
retry_files_enabled = False

[inventory]
enable_plugins = ini, yaml, aws_ec2
